body {
    font-family:  'Arial',sans-serif;
    background-position: center;
    background-size: cover;
    background-color: white;
    color: #232F3E;
}

#sidebar {
    height: 160vh;
    width: 100%;
    background: #ffffff;
    border-color: #ffffff;
    margin-right: 2%;
    color: #232F3E;
}

#content {
    padding: 16px;
    height: 160vh;
    background: #ffffff;
    border-color: #ffffff;
    color: #232F3E;
}

#navbar {
    background: #FF9900;
    width: 200vh;
    position: fixed;
    top: 0;
}

#navbarNav {
    margin-left: 17%;
}

#bar-chart3 {
    width: 100%;
    height: 300px;
}

#sales {
    width: 31.3%;
    height: 100px;
    display: inline-flex;
    margin: 1vh;
    padding: 2vh;
    background-color: #FF9900;
    align-items: center;
    color: #ffffff;

}
#products {
    width: 31.3%;
    height: 100px;
    display: inline-flex;
    margin: 1vh;
    padding: 2vh;
    background-color: #FF9900;
    align-items: center;
    color: #ffffff;
}
#percent {
    width: 31.3%;
    height: 100px;
    display: inline-flex;
    margin: 1vh;
    padding: 2vh;
    background-color: #FF9900;
    align-items: center;
    color: #ffffff;
}

#bar3 {
    width: 100%;
    height: 400px;
    max-width: 100%;
}
#pie-chart3 {
    width: 90%;
    height: 100%;
    max-width: 100%;
}
#clusteredchartdiv {
    width: 100%;
    height: 400px;
    max-width: 100%;
    color: #232F3E;
}

#barchartdivparent {
    width: 64.4%;
    height: 400px;
    display: inline-flex;
    margin: 1vh;
    padding: 2vh;
    background-color: #ffffff;
    color: #232F3E;
}
#clusturedchartdivparent {
    width: 64.4%;
    height: 400px;
    display: inline-flex;
    margin: 1vh;
    padding: 2vh;
    background-color: #ffffff;
    color: #232F3E;
}
#pie {
    width: 31.4%;
    height: 400px;
    margin: 1vh;
    display: inline-flex;
    padding: 2vh;
    background-color: #ffffff;
    align-items: center;
    color: #232F3E;
}
#list {
        width: 100%;
        height: 80%;
        display: inline-flex;
        margin: 1vh;
        padding: 2vh;
        background-color: #ffffff;
        color: #232F3E;
    }

#top {
    width: 31.4%;
    height: 400px;
    margin: 1vh;
    display: inline-flex;
    padding: 2vh;
    background-color: #ffffff;
    align-items: center;
    color: #232F3E;
}

#chartdivparent {
    width: 45%;
    height: 450px;
    display: inline-block;
    margin: 1vh;
    padding: 2vh;
    background-color: #ffffff;
}
li a:hover {
  background-color: #FF9900;
    color: #ffffff;
}