<!DOCTYPE html>
<html lang="en">
<?xml version="1.0" encoding="UTF-8"?>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.iconscout.com/icon/free/png-512/free-amazon-3521267-2944771.png?f=webp&w=512">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/stylesheet.css">
  <script src="static/charts.js"></script>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 shadow" id="sidebar" style="width: 230px; background-color: #232F3E; color: #ffffff;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <img src="https://amazon-blogs-brightspot-lower.s3.amazonaws.com/about/a9/af/27a4ef844ac38129d0fa460675fb/amazon-logo.svg" alt="Logo" class="img-responsive" style="max-width: 100px; margin-top: 10px;">
    </a>
    <hr style="border-top: 1px solid #ffffff;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link" aria-current="page" style="color: #ffffff">
                Main
            </a>
        </li>
        <li>
            <a href="Electronics" class="nav-link" style="color: #ffffff">
                Electronics
            </a>
        </li>
        <li>
            <a href="Home&Kitchen" class="nav-link" style="color: #ffffff">
                Home & Kitchen
            </a>
        </li>
        <li>
            <a href="Computers&Accessories" class="nav-link" style="color: #ffffff">
                Computers & Accessories
            </a>
        </li>
        <li>
            <a href="OfficeProducts" class="nav-link" style="color: #ffffff">
                Office Products
            </a>
        </li>
    </ul>
</div>



    <!-- Page Content -->
    <div class="card d-inline-flex" id="content">
        <h1 class="fw-bold">Sales Dashboard</h1>
        <div class="container-fluid">
            <div class="card shadow" id="sales">
                <h5>Total Sales:</h5>
                <h3>{{ total_sales }}</h3>
            </div>
            <div class="card shadow" id="products">
                <h5>Total Orders:</h5>
                <h3>{{ total_products }}</h3>
            </div>
            <div class="card shadow" id="percent">
                <h5>AVG Discount:</h5>
                <h3>{{ avg_discount }}</h3>
            </div>
            <div class="card shadow" id="barchartdivparent">
                <h3>Average of Rating by category</h3>
                <div id="bar-chart2"></div>
            </div>
            <div class="card shadow" id="pie">
                <h3>Breakdown of Categories</h3>
                <div id="pie-chart2"></div>
            </div>
            <div class="card shadow" id="clusturedchartdivparent">
                <h3>Sales by Category</h3>
                <div id="bar2"></div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Top Products</h3>
                <ul class="list-group" id="list">
                    <li class="list-group-item">
                        <span>iBELL SM1515NEW</span>
                        <span class="badge badge-warning badge-pill">1</span>
                    </li>
                    <li class="list-group-item">
                        <span>iBELL SM1301</span>
                        <span class="badge badge-warning badge-pill">1</span>
                    </li>
                    <li class="list-group-item">
                        <span>iBELL SEK170BM</span>
                        <span class="badge badge-warning badge-pill">1</span>
                    </li>
                    <li class="list-group-item">
                        <span>iBELL SEK15L</span>
                        <span class="badge badge-warning badge-pill">1</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Make an AJAX request to fetch total sales data
        $.ajax({
            url: '/get-sales/Home&Kitchen',
            method: 'GET',
            success: function (data) {
                // Update the content of the total_sales div with the fetched data
                $('#sales h3').text('$' +parseFloat(data[0][0].toFixed(0)).toLocaleString());
            },
            error: function (error) {
                console.log('Error fetching total sales data: ', error);
            }
        });
        $.ajax({
            url: '/get-products/Home&Kitchen',
            method: 'GET',
            success: function (data) {
                // Update the content of the total_products div with the fetched data
                $('#products h3').text(parseFloat(data[0][0].toFixed(0)).toLocaleString());
            },
            error: function (error) {
                console.log('Error fetching total products data: ', error);
            }
        });
        $.ajax({
            url: '/get-discount/Home&Kitchen',
            method: 'GET',
            success: function (data) {
                // Update the content of the avg_discount div with the fetched data
                $('#percent h3').text(parseFloat(data[0][0].toFixed(0)).toLocaleString() + '%');
            },
            error: function (error) {
                console.log('Error fetching avg discount data: ', error);
            }
        });
    });
</script>

</body>

</html>





